#include <stdio.h>
#include "irslinger.h"

int main(int argc, char *argv[])
{
	uint32_t outPin = {{ out_pin }};            // The Broadcom pin number the signal will be sent on
	int frequency = {{ frequency }};           // The frequency of the IR signal in Hz
	double dutyCycle = {{ duty_cycle }};          // The duty cycle of the IR signal. 0.5 means for every cycle,
	                                 // the LED will turn on for half the cycle time, and off the other half
	int leadingPulseDuration = {{ leading_pulse_duration }}; // The duration of the beginning pulse in microseconds
	int leadingGapDuration = {{ leading_gap_duration }};   // The duration of the gap in microseconds after the leading pulse
	int onePulse = {{ one_pulse }};              // The duration of a pulse in microseconds when sending a logical 1
	int zeroPulse = {{ zero_pulse }};             // The duration of a pulse in microseconds when sending a logical 0
	int oneGap = {{ one_gap }};               // The duration of the gap in microseconds when sending a logical 1
	int zeroGap = {{ zero_gap }};               // The duration of the gap in microseconds when sending a logical 0
	int sendTrailingPulse = {{ send_trailing_pulse }};       // 1 = Send a trailing pulse with duration equal to "onePulse"
	                                 // 0 = Don't send a trailing pulse

	int result = irSling(
		outPin,
		frequency,
		dutyCycle,
		leadingPulseDuration,
		leadingGapDuration,
		onePulse,
		zeroPulse,
		oneGap,
		zeroGap,
		sendTrailingPulse,
		"{{ item.code }}");

	return result;
}
